.all-box{text-align: center;}

box{ float: left;}
.all-box::after{
    content: "";
    display: block;
    clear: both;
}
.left-box {
    width: 50%;
    display: inline-block;
}

.right-box {
    display: inline-block;
    width: 50%;
}

h1{

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
display: block;
align-items: center;
text-align: left;
letter-spacing: -0.015em;
color: #070707;
}


.user-type {
    margin: 20px;
}

.form-group{text-align: left;font-size: 30px;}

#author {
    color: #410404;
    font-size: large;
    font-weight: bold;
}

#brand{ 
    font-weight: bold;
    font-family: Montserrat;
    font-style: normal;
 
    font-size: 20px;
    color: #020202;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#comment{
    border: 1px solid #330303;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

p{

font-family: Montserrat;
font-style: normal;
font-size: 30px;
color: black;
}
