{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/menustyle.css' %}" type="text/css" />
{% endblock %}



{% block content %}


<section>
  <div id="content2">
    <div>
      <h1 class="list_title">you are interested in..</h1>
      <button class="btn_more" type="submit">show more</button>
      

      <div id="show">
        <div class="imagesection2">
          <input type="radio" name="slide" id="slide21" checked>
          <input type="radio" name="slide" id="slide22">
          <input type="radio" name="slide" id="slide23">
         
          <div class="slidewrap">
            
            <ul class="slidelist">
              <!-- 슬라이드 영역 -->
              <li class="slideitem">
                <a>
                  <div class="textbox">
                    <!-- <h3>첫번째 슬라이드</h3> -->
                    <div id="closet_box">
                      {% if product %}
                          {% for product in product %}
                          
                            {% if product.image %}
                            <a id="closet" href="{% url 'products:detail' product.id %}"><img src="{{ product.image.url }}" alt="ProductImage" /></a>
                            {% endif %}

                          {% endfor %}
                        
                      {% else %}
                        <p>No Posts.</p>
                      {% endif %}
                    </div>
                  </div>
                 </a>
              </li>
              <li class="slideitem">
                <a>
                  <div class="textbox">
                    <!-- <h3>두번째 슬라이드</h3> -->
                  </div>
                </a>
              </li>
              <li class="slideitem">
                <a>
                  <div class="textbox">
                  <!-- <h3>세번째 슬라이드</h3> -->
                  </div>
                </a>
                 
                
              </li class="slideitem">
        
              <!-- 좌,우 슬라이드 버튼 -->
              
        
            </ul>
            <!-- 페이징 -->
            <ul class="slide-pagelist">
              <li><label for="slide21"></label></li>
              <li><label for="slide22"></label></li>
              <li><label for="slide23"></label></li>
            </ul>
          </div>
        </div>
          
      </div>
  

    </div>




  </div>
</section>
<section>    
  <div id="content3">
    <div>
      <h1 class="list_title">You already have..</h1>
      <button class="btn_more" type="submit">show more</button>

      <div id="show">
        <div class="imagesection3">
          <input type="radio" name="slide" id="slide31" checked>
          <input type="radio" name="slide" id="slide32">
          <input type="radio" name="slide" id="slide33">
         
          <div class="slidewrap">
            
            <ul class="slidelist">
              <!-- 슬라이드 영역 -->
              <li class="slideitem">
                <a>
                  <div class="textbox">
                    <div id="closet_box">
                      {% if product %}
                          {% for product in product %}
                          
                            {% if product.image %}
                            <a id="closet" href="{% url 'products:detail' product.id %}"><img src="{{ product.image.url }}" alt="ProductImage" /></a>
                            {% endif %}

                          {% endfor %}
                        
                      {% else %}
                        <p>No Posts.</p>
                      {% endif %}
                    </div>
                  </div>
                 </a>
              </li>
              <li class="slideitem">
                <a>
                  <div class="textbox">
                    <!-- <h3>두번째 슬라이드</h3> -->
                  </div>
                </a>
              </li>
              <li class="slideitem">
                <a>
                  <div class="textbox">
                  <!-- <h3>세번째 슬라이드</h3> -->
                  </div>
                </a>
                 
                
              </li class="slideitem">
        
            
        
            </ul>
            <!-- 페이징 -->
            <ul class="slide-pagelist">
              <li><label for="slide31"></label></li>
              <li><label for="slide32"></label></li>
              <li><label for="slide33"></label></li>
            </ul>
          </div>
        
          
        </div>
  

      </div>
      <a href="{% url 'products:new' %}" id="btn_new"><img src="{% static 'products/images/new.png'%}"></a>
     
    </div>
    
  </div>
  
</section>



{% endblock %}
      
