{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/menustyle.css' %}" type="text/css" />
{% endblock %}



{% block content %}

<section>
  <div id="content1">
    <div class="wrap">
      <h1 class="list_title">you might like..</h1>
      <button class="btn_more" type="submit">show more</button>
    
      <div class="recommendatiion">
          <!-- <img class="recommend_main_cloth" src="{% static 'products/images/image 6.png' %}" alt="예시"> -->
        
          <!-- <div class="recommend_cloth">1</div>
          <div class="recommend_cloth">1</div>
          <div class="recommend_cloth">1</div>
          <div class="recommend_cloth">1</div>
          <div class="recommend_cloth">1</div>
          <div class="recommend_cloth">1</div> -->
      </div>
        
      <a href="#a" class="next"><img src="{static 'products/images/btn_arrow_next.png'}" alt="다음추천"></a>

      
    </div>  
  </div>

  
  <div id="content2">
    <div>
      <h1 class="list_title">you are interested in..</h1>
      <button class="btn_more" type="submit">show more</button>
      <!-- <div class="recommendation">
        <img class="recommend_main_cloth" src="{% static 'products/maxmara.jpg' %}" alt="예시">
        <div class="recommend_cloth">1</div>
        <div class="recommend_cloth">1</div>
        <div class="recommend_cloth">1</div>
        <div class="recommend_cloth">1</div>
        <div class="recommend_cloth">1</div>
        <div class="recommend_cloth">1</div>
        <a href="#a" class="next"><img src="{static 'products/images/btn_arrow_right.jpg'}" alt="다음추천"></a>
      </div> -->
    </div>
    
  </div>
  <div id="content3">
    <div>
      <h1 class="list_title">You already have..</h1>
      <button class="btn_more" type="submit">show more</button>
      <!-- <div class="">
        <img class="" src="{% static 'products/maxmara.jpg' %}" alt="예시">
        <div class="">1</div>
        <div class="">1</div>
        <div class="">1</div>
        <div class="">1</div>
        <div class="">1</div>
        <div class="">1</div>
        <a href="#a" class=""><img src="{static 'products/images/btn_arrow_right.jpg'}" alt="다음추천"></a>
      </div> -->
    </div>
    
  </div>
</section>

<a href="{% url 'products:new' %}">글  쓰  기</a>
      
</div>



{% endblock %}